<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-start items-center">
    <img src="/favicon.png" class="w-32 h-32 mt-8 mb-8 opacity-85">

    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-2xl font-bold text-center mb-6">用户注册</h2>

        <form id="register-form">
            <div class="mb-4">
                <label for="register-email" class="block text-gray-700">邮箱</label>
                <input type="text" id="register-email" class="el-input__inner w-full p-2 border rounded" placeholder="请输入邮箱">
            </div>

            <div class="mb-4">
                <label for="register-password" class="block text-gray-700">密码</label>
                <input type="password" id="register-password" class="el-input__inner w-full p-2 border rounded" placeholder="请输入密码">
            </div>

            <div class="mb-4">
                <label for="confirm-password" class="block text-gray-700">确认密码</label>
                <input type="password" id="confirm-password" class="el-input__inner w-full p-2 border rounded" placeholder="确认密码">
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">注册</button>
            
            <div class="mt-4 m-auto text-center">
                <a href="/auth/login" class="text-blue-500 underline inline-block hover:text-blue-700" style="text-underline-offset: 4px">已有账号，前往登录</a>
            </div>      
        </form>
    </div>
    <script>
        const baseUrl = window.location.origin;

        $(document).ready(function() {
            $('#register-form').submit(function(event) {
                
                event.preventDefault();

                const email = $('#register-email').val();
                const password = $('#register-password').val();
                const confirmPassword = $('#confirm-password').val();
            
                if (!email || !password || !confirmPassword) {
                    alert('所有字段都是必填的');
                    return;
                }

                let registerUserForm = {
                    email:email,
                    password:password,
                    displayName:"",
                    firstName:"",
                    lastName:"",
                    locale:"",
                    timezone:"",
                    source:""
                }

                if (password !== confirmPassword) {
                    alert('密码不一致');
                    return;
                }
                $.ajax({
                    url: `${baseUrl}/user/register`,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(registerUserForm),
                    success: function(response) {
                        if (response.data) {
                            alert('注册成功,自动跳转登录页面...');
                            window.location.href = `/auth/login?email=${encodeURIComponent(email)}`;
                        } else {
                            alert('注册失败!');
                        }
                    },
                    error: function(xhr, status, error) {
                        // 检查是否是因为邮箱已存在导致的错误 (状态码503)
                        if (xhr.status === 503) {
                            // 直接显示后端返回的错误信息
                            alert(xhr.responseJSON.error);
                            // 跳转到登录页面并传递邮箱参数
                            window.location.href = `/auth/login?email=${encodeURIComponent(email)}`;
                        } else {
                        alert('请求失败!');
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
